


<div class="w-full h-full flex items-start flex-wrap content-start justify-center no-scrollbar" style="overflow: auto;">
    <div class="w-[90%] h-[8%]  flex items-center justify-start">
        <h2 class="text-[0.8vw] text-[#FFE58A] font-['sf-pro-rounded-bold'] tracking-[0.1vw]">Eyebrows</h2>
        <div class="w-full h-[10%] ml-[1.5vw] flex-1" style="border-bottom: 1px solid rgba(255, 229, 138, 0.46);"></div>
    </div>
    <div class="w-[90%] h-[44%]   flex flex-wrap items-start justify-center">
        <div class="w-full h-[45%] flex  flex-wrap items-start  ">
            <div class="w-full h-[30%]  ">
                <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] mt-[0.2vw] tracking-[0.05vw]">{{this.$store.state.locales['typeTitle']}}</h2>
            </div>
            <div class="w-full h-[60%]   ">
                <div class="w-full h-full  flex justify-between">
                    <div @click="changeSkin('eyebrows_1', getSkinByName('eyebrows_1')-1)" class="w-[15.5%] h-full  flex items-center justify-center cursor-pointer" style="border-top-left-radius: 0.4vw; background-color: rgba(217, 217, 217, 0.15); border-bottom-left-radius: 0.4vw;">
                        <img class="w-[20%] h-[30%]" style="object-fit: contain;" src="./images/bodypage/left.png" alt="">
                    </div>
                    <div class="w-[68.5%] h-full  flex items-center justify-center" style="background-color: rgba(217, 217, 217, 0.15);">
                        <input @change="changeSkin('eyebrows_1', $event.target.value)"  type="text" class="clothes-inputplaceholder text-white text-center font-['sf-pro-rounded-bold']" style="background-color: transparent; outline: none;" :value=" getSkinByName('eyebrows_1')">
                    </div>
                    <div  @click="changeSkin('eyebrows_1', getSkinByName('eyebrows_1')+1)" class="w-[15.5%] h-full flex items-center justify-center  cursor-pointer" style="border-top-right-radius: 0.4vw; background-color: rgba(217, 217, 217, 0.15); border-bottom-right-radius: 0.4vw;">
                        <img class="w-[20%] h-[30%]" style="object-fit: contain; transform: rotate(180deg);" src="./images/bodypage/left.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[45%] flex  flex-wrap items-start  ">
            <div class="w-full h-[30%]  ">
                <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] mt-[0.2vw] tracking-[0.05vw]">Intensity</h2>
            </div>
            <div class="w-full h-[60%]   ">
                <div  class="w-full h-full  flex justify-center items-center" style="background-image: url(./images/bodypage/rangebg.png); background-size: 100% 100%;">
                    <div class="w-[65%] h-full  flex items-center justify-center">
                        <input @change="changeSkin('eyebrows_2', $event.target.value)"  type="range" class=" rangeForInput" step="1" :value="getSkinByName('eyebrows_2')" min="0" max="10">  
                    </div>
                     
                </div>
            </div>
        </div>
        <div class="w-full h-[95%] flex   flex-wrap items-start  ">
            <div class="w-full h-[100%] flex  flex-wrap items-start mt-[0.5vw] ">
                <div class="w-full h-[15%]  ">
                    <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] tracking-[0.05vw]">Color</h2>
                </div>
                <div class="w-full h-[85%] rounded-[0.5vw] flex flex-wrap items-center justify-center  " style="background-color: rgba(217, 217, 217, 0.15);">
                    <div class="w-[94%] h-[90%]  flex-wrap flex content-start cursor-pointer" >
                        <div @click="changeSkin('eyebrows_3', data.index)" v-for="data in this.$store.state.bodypage.hairColorTable" class="w-[7%] h-[13.5%]  rounded-[0.2vw] ml-[0.4vw] mt-[0.3vw]" :style="{'background-color' : data.value}"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[45%] flex  flex-wrap items-start mt-[1vw]   ">
            <div class="w-full h-[30%]  ">
                <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] mt-[0.2vw] tracking-[0.05vw]">Eyebrows Height</h2>
            </div>
            <div class="w-full h-[60%]   ">
                <div class="w-full h-full  flex justify-center items-center rounded-[0.5vw]" style="background: rgba(217, 217, 217, 0.15)">
                    <div @click="changeSkin('eyebrows_5', getSkinByName('eyebrows_5')-1)" class="w-[15%] h-full  flex items-center justify-center">
                        <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] tracking-[0.05vw]">-1</h2>
                    </div>
                    <input  @change="changeSkin('eyebrows_5', $event.target.value)" class="rangeForInput"  type="range" step="1" :value="getSkinByName('eyebrows_5')" min="-10" max="10">   
                    <div @click="changeSkin('eyebrows_5', getSkinByName('eyebrows_5')+1)" class="w-[15%] h-full  flex items-center justify-center">
                        <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] tracking-[0.05vw]">1</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="w-full h-[45%] flex  flex-wrap items-start mt-[1vw]   ">
            <div class="w-full h-[30%]  ">
                <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] mt-[0.2vw] tracking-[0.05vw]">Eyebrows Depth</h2>
            </div>
            <div class="w-full h-[60%]   ">
                <div class="w-full h-full  flex justify-center items-center rounded-[0.5vw]" style="background: rgba(217, 217, 217, 0.15)">
                    <div @click="changeSkin('eyebrows_6', getSkinByName('eyebrows_6')-1)" class="w-[15%] h-full  flex items-center justify-center">
                        <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] tracking-[0.05vw]">-1</h2>
                    </div>
                    <input  @change="changeSkin('eyebrows_6', $event.target.value)" class="rangeForInput"  type="range"  step="1" :value="getSkinByName('eyebrows_6')" min="-10" max="10">   
                    <div  @click="changeSkin('eyebrows_6', getSkinByName('eyebrows_6')+1)" class="w-[15%] h-full  flex items-center justify-center">
                        <h2 class="text-[0.7vw] text-[white] font-['sf-pro-rounded-bold'] tracking-[0.05vw]">1</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>