@import url(https://fonts.googleapis.com/css?family=Quicksand:300,400,700);
*{
    user-select: none;
    font-family: 'Quicksand';
}
.panel-main {
    display: none;
    position: absolute;
    width: 300px;
    height: 80px;
    padding: 2px;
    margin-top: 10%;
    margin-left: 60%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border: 2px solid #212121;
    background-color: #212121;
    border-bottom: solid 4px #f93154;
    box-shadow:0 0 .6rem 0 #000000;
}

.panel-inside {
    text-align: center;
    font-size: 18px;
    color: white;
    border-radius: 15px;
    background-color: rgba(109, 109, 109, 0.582);
    text-shadow:
    -1px -1px 5px #0000006b,
    1px -1px 5px #0000006b,
    -1px 1px 5px #0000006b,
    1px 1px 5px #0000006b,
    -2px -2px 5px #0000006b,
    2px -2px 5px #0000006b,
    -2px 2px 5px #0000006b,
    2px 2px 5px #0000006b;
}

.panel-header { 
    text-align: center;
    color: #FFF;
    font-size: 17px;
    font-weight: bold;
    background-color: #212121;
    width: 100%;
    height: 80px;
    border-bottom: solid 3px #f93154;
}

img{
    float: left;
    width: 45px;
    margin-top: 10px;
    margin-left: 20px;
}

p{
    margin-top: 19px;
    margin-right: 45px;
}

tr:hover {
    background-color: #3A3A3A;
    transition: all 0.3s ease-in;
    transform: scale(1.03);
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
}
